a:link, a:visited {
background-color: LIGHTSLATEGRAY;
color: white;
padding: 14px 25px;
text-align: center;
font-family:verdana;
text-decoration: none;
display: inline-block;
}

a:hover, a:active {
background-color: MAROON;
}
